
<html>
  <head>
          {% load static %}



    <title>MAIN</title>
	<link rel = 'stylesheet' href = "{% static 'main.css' %}" type = 'text/css'/>
    <label size="40" class="red"> demo css class red</label>

  </head>
	<body>
	<script src="{% static 'main.js' %}"  ></script>

		<font  color = "green">
				<h1> Title </h1>
				</font>
				<h2>{{origin}} </h2>
				<h2>{{destination}}</h2>
				<div> list of params</div>
				<h3>
					{% for item in steps %}
					<p> {{item}} </p>
					{% endfor%}
				</h3>
				<button onclick='demo_button_onclick()' id="demo_button" type="button">demo_button</button>
			
			
	  </body>
</html>


